* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  transition: all 0.5;
  list-style: none;
}

@media screen and (max-width: 767px) {
  nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 10px 10px 10px;
    width: 100%;
    height: 92px;
    background-color: #3c3a39;
  }

  /* .navi {
    height: 100vh;
  } */

  nav a {
    text-decoration: none;
    color: #fff;
    width: 77px;
    height: 24px;
    padding-top: 5px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
  }

  nav img {
    padding-top: 12px;
  }

  .bulletpoint img {
    width: 18px;
    height: 18px;
    margin-top: 15px;
    margin-right: 5px;
  }

  .content1 img {
    width: 327px;
    height: 237px;
  }

  .Feature img {
    margin-left: 185px;
  }

  nav a:hover {
    border-bottom: 2px solid rgb(28, 28, 228);
  }

  .Socials img {
    width: 18px;
    height: 20px;
  }

  .vector img {
    display: none;
  }

  img:hover {
    transform: scale(1.02);
  }

  .main div img {
    margin-left: 20px;
    filter: brightness(0) invert(1);
  }

  nav img:hover {
    border-bottom: 2px solid rgb(28, 28, 228);
  }

  .main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 120px 24px;
    gap: 12px;
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    background-color: #1c1a19;
    position: relative;
  }

  .main-photo {
    position: absolute;
    width: 100px;
    right: 0;
    bottom: 0;
  }

  .main h1 {
    width: 327px;
    height: 124px;
    font-family: "crete round", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 0.37px;
    color: #ff6b00;
  }

  .main h2 {
    width: 327px;
    height: 27px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #fff5e1;
  }

  .main p {
    width: 327px;
    height: 123px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
  }

  .works {
    background-color: #fff;
    width: 100%;
    display: grid;
    grid-template-columns: 327px;
    grid-template-rows: 237px, 386px, 386px, 386px, 386px, 386px, 386px;
    padding: 60px 30px;
  }

  .content1 {
    display: flex;
    flex-direction: column;
    background-color: #fff;
  }

  .content1 h2 {
    width: 327px;
    margin-top: 20px;
    margin-bottom: 40px;
    font-family: "Crete Round", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    padding-bottom: 20px;
    border-bottom: 1px solid #212121;
  }

  .content1 h3 {
    width: 327px;
    font-family: "Crete Round", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #091e42;
    display: flex;
    align-items: center;
    margin-top: 20px;
  }

  .content1 p {
    width: 327px;
    height: 147px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding-top: 20px;
    color: #091e42;
  }

  ul {
    list-style: none;
  }

  .content1 div ul {
    display: flex;
    align-items: center;
    width: 49px;
    margin-bottom: 10px;
  }

  .properties li {
    margin-left: 50px;
    text-align: center;
  }

  .About div li {
    width: 114px;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 43px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
  }

  .content1 div ul li {
    display: flex;
    align-items: center;
    padding: 10px 12px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 44px;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #8993a4;
    color: #091e42;
    margin-top: 30px;
    margin-right: 20px;
  }

  button {
    height: 48px;
    background-color: #ff6b00;
    color: #fff;
    border: none;
    width: 100%;
    font-family: "Inter", sans-serif;
  }

  .content1 button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 10px;
    font-size: 15px;
    width: 124px;
    height: 48px;
    color: #fff;
    background-color: #ff6b00;
  }

  .cards {
    background-image: url(Images/Img\ Placeholderbackground\ image.png);
    background-size: cover;
    background-position: center;
    padding-left: 10px;
    padding-bottom: 20px;
    margin-top: 20px;
  }

  .cards h2 {
    width: 295px;
    height: 81px;
    font-family: "Crete Round", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
    margin-bottom: 20px;
  }

  .cards p {
    width: 295px;
    height: 87px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    margin-bottom: 20px;
  }

  .cards div ul {
    display: flex;
  }

  .About div h3 {
    width: 164px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
  }

  .cards div ul li {
    width: 92px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
    margin-left: 20px;
    padding: 10px 12px;
    background-color: rgba(255, 255, 255, 0.24);
  }

  .cards div ul li:hover {
    border: 2px solid rgba(15, 202, 231, 0.747);
    cursor: pointer;
  }

  .About {
    width: 100%;
    padding: 60px 30px;
    display: flex;
    flex-direction: column;
    background-color: #1c1a19;
  }

  .Feature h2 {
    width: 327px;
    font-family: "Crete Round", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 88px;
    margin-top: 20px;
    margin-bottom: 20px;
    letter-spacing: 0.37px;
    color: #ff6b00;
  }

  .Feature p {
    width: 327px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #f4f5f7;
  }

  button:hover {
    border: 2px solid rgba(15, 202, 231, 0.747);
  }

  .Feature button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 10px;
    width: 161px;
    font-size: 15px;
    background-color: #ff6b00;
    color: #fff;
  }

  .properties {
    margin-left: 80px;
  }

  .Feature {
    margin-bottom: 70px;
    border-bottom: 1px solid #fff;
  }

  .bulletpoint {
    display: flex;
  }

  .contact {
    width: 100%;
    padding: 60px 30px;
    background-color: #fff;
  }

  .contact h2 {
    width: 327px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    color: #172b4d;
    margin-bottom: 20px;
  }

  form {
    margin-bottom: 20px;
  }

  form input {
    width: 327px;
    border: none;
    outline: none;
    border-bottom: 1px solid #dbd8d7;
    padding: 10px 20px;
  }

  form input:hover {
    border-bottom: 2px solid rgba(15, 202, 231, 0.747);
    cursor: pointer;
  }

  .inputfield {
    width: 327px;
    height: 114px;
    background-color: #fbf8f7;
    position: relative;
    border: none;
    margin-top: 20px;
  }

  .inputfield:hover {
    border: 2px solid rgba(15, 202, 231, 0.747);
    cursor: pointer;
  }

  .inputfield::placeholder {
    position: absolute;
    top: 10px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
  }

  .contact div button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 10px;
    width: 131px;
    height: 48px;
    margin-left: 100px;
    margin-top: 20px;
    background: #ff6b00;
    margin-bottom: 90px;
  }

  hr {
    height: 1px;
    background: #dfe1e6;
  }

  hr:hover {
    border-bottom: 2px solid rgba(15, 202, 231, 0.747);
    cursor: pointer;
  }

  .Socials {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    margin-top: 20px;
  }

  .Socials img:hover {
    color: rgba(15, 202, 231, 0.747);
  }

  .line {
    background-color: #0d151e;
    width: 134px;
    height: 5px;
    left: calc(50% - 134px / 2 - 0.5px);
    border-radius: 10px;
    margin-left: 100px;
    margin-top: 15px;
  }

  .icon {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;

    color: #fff5e1;
    border-bottom: 1px solid #6f6c6b;
  }

  .dropdown {
    display: flex;
    justify-content: space-between;
  }

  .dropdown img {
    width: 16px;
    height: 30px;
    margin-right: 10px;
  }

  .menu {
    position: fixed;
    left: -100%;
    top: 65px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding: 0 20px;
    margin-top: 20px;
    background-color: #3c3a39;
    z-index: 1;
  }

  .message {
    display: none;
  }

  .close {
    display: none;
  }


  .show {
    left: 0;
  }
}
