* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  transition: all 0.5;
  list-style: none;
  text-decoration: none;
}

body {
  position: absolute;
  overflow-x: hidden;
}

@media screen and (max-width: 767px) {
  nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 50px 10px 10px 10px;
    width: 100%;
    height: 92px;
    background-color: #3c3a39;
    z-index: 1;
  }

  nav a {
    text-decoration: none;
    color: #fff;
    width: 21%;
    padding-top: 1%;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
  }

  nav img {
    padding-top: 3%;
  }

  .bulletpoint img {
    width: 5%;
    height: 5%;
    margin-top: 4%;
    margin-right: 1%;
  }

  .content1 img {
    width: 87%;
    height: 40%;
  }

  .Feature img {
    position: absolute;
    right: 0%;
    bottom: 0;
  }

  .menu a {
    margin-top: 10%;
  }

  .btn a {
    width: 45%;
  }

  nav a:hover {
    border-bottom: 2px solid rgb(28, 28, 228);
  }

  .Socials img {
    width: 100%;
  }

  .vector img {
    display: none;
  }

  img:hover {
    transform: scale(1.02);
  }

  .dropdown img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  .btn img {
    width: 30px;
  }

  .main div img {
    margin-left: 5%;
    filter: brightness(0) invert(1);
  }

  nav img:hover {
    border-bottom: 2px solid rgb(28, 28, 228);
  }

  .main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20% 6%;
    gap: 12px;
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    background-color: #1c1a19;
    position: relative;
  }

  .main-photo {
    position: absolute;
    width: 27%;
    right: 0;
    bottom: 0;
  }

  .main h1 {
    width: 87%;
    height: 21%;
    font-family: "crete round", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 0.37px;
    color: #fff;;
  }

  .divine{
    color: #f55800;
  }

  .main h2 {
    width: 87%;
    height: 5%;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #fff5e1;
  }

  .main p {
    width: 87%;
    height: 21%;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
  }

  .works {
    background-color: #fff;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%, 100%, 100%, 100%, 100%, 100%, 100%;
    padding: 60px 30px;
  }

  .content1 {
    display: flex;
    flex-direction: column;
    background-color: #fff;
  }

  .content1 h2 {
    width: 87%;
    margin-top: 20px;
    margin-bottom: 40px;
    font-family: "Crete Round", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    padding-bottom: 20px;
    border-bottom: 1px solid #212121;
  }

  .content1 h3 {
    width: 87%;
    font-family: "Crete Round", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #091e42;
    display: flex;
    align-items: center;
    margin-top: 20px;
  }

  .content1 p {
    width: 327px;
    height: 147px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding-top: 20px;
    color: #091e42;
  }

  ul {
    list-style: none;
  }

  .content1 div ul {
    display: flex;
    align-items: center;
    width: 13%;
    margin-bottom: 10px;
  }

  .properties li {
    margin-left: 13%;
    text-align: center;
  }

  .to-do li {
    width: 85px;
    margin-right: 10px;
    padding: 10px 10px;
    font-size: 13px;
    border: 1px solid #dfe1e6;
  }

  .About div li {
    width: 30%;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 43px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
  }

  .content1 div ul li {
    display: flex;
    align-items: center;
    padding: 10px 12px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 44px;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #8993a4;
    color: #091e42;
    margin-top: 30px;
    margin-right: 20px;
  }

  button {
    height: 48px;
    background-color: #ff6b00;
    color: #fff;
    border: none;
    width: 100%;
    font-family: "Inter", sans-serif;
  }

  .content1 button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 10px;
    font-size: 15px;
    width: 33%;
    color: #fff;
    background-color: #ff6b00;
  }

  .cards {
    /* background-image: url(Images/Img\ Placeholderbackground\ image.png); */
    background-size: cover;
    background-position: center;
    padding-left: 10px;
    padding-bottom: 20px;
    margin-top: 10%;
  }

  .cards h2 {
    width: 79%;
    font-family: "Crete Round", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
    margin-bottom: 20px;
  }

  .cards p {
    width: 79%;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    margin-bottom: 20px;
  }

  .cards div ul {
    display: flex;
  }

  .About div h3 {
    width: 44%;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
  }

  .card1 {
    background-image: url(Images/farmers-summit.png);
    background-size: cover;
    background-position: center;
    height: 483px;
  }

  .card2 {
    background-image: url(Images/budgetApp.png);
    background-size: cover;
    background-position: left;
    height: 483px;
  }

  .card3 {
    background-image: url(Images/Bookshop.png);
    background-size: cover;
    background-position: center;
    height: 483px;
  }

  .card4 {
    background-image: url(Images/restaurant.png);
    height: 483px;
  }

  .card6 {
    background-image: url(Images/Rockets.png);
    background-size: cover;
    background-position: left;
    height: 483px;
  }

  .card7 {
    background-image: url(Images/Bookstore.png);
    background-size: cover;
    background-position: 0;
    height: 483px;
  }

  .cards div ul li {
    width: 25%;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
    margin-left: 20px;
    padding: 10px 12px;
    background-color: rgba(255, 255, 255, 0.24);
  }

  .cards div ul li:hover {
    border: 2px solid rgba(15, 202, 231, 0.747);
    cursor: pointer;
  }

  .About {
    width: 100%;
    padding: 60px 30px;
    display: flex;
    flex-direction: column;
    background-color: #1c1a19;
  }

  .Feature h2 {
    width: 87%;
    font-family: "Crete Round", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 88px;
    margin-top: 20px;
    margin-bottom: 20px;
    letter-spacing: 0.37px;
    color: #ff6b00;
  }

  .Feature p {
    width: 87%;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #f4f5f7;
  }

  .Resume {
    color: #fff;
  }

  button:hover {
    border: 2px solid rgba(15, 202, 231, 0.747);
  }

  .Feature button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 10px;
    width: 43%;
    font-size: 15px;
    background-color: #ff6b00;
    color: #fff;
    margin-top: 10%;
    margin-bottom: 50%;
  }

  .properties {
    margin-left: 21%;
  }

  .Feature {
    margin-bottom: 70px;
    border-bottom: 1px solid #fff;
    position: relative;
    width: 100%;
  }

  .bulletpoint {
    display: flex;
  }

  .contact {
    width: 100%;
    padding: 40px 30px;
    background-color: #fff;
  }

  .contact h2 {
    width: 87%;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    color: #172b4d;
    margin-bottom: 20px;
  }

  form {
    margin-bottom: 20px;
  }

  form input {
    width: 87%;
    border: none;
    outline: none;
    border-bottom: 1px solid #dbd8d7;
    padding: 10px 20px;
  }

  form input:hover {
    border-bottom: 2px solid rgba(15, 202, 231, 0.747);
    cursor: pointer;
  }

  .inputfield {
    width: 87%;
    background-color: #fbf8f7;
    position: relative;
    border: none;
    margin-top: 20px;
    padding: 10px;
  }

  .inputfield:hover {
    border: 2px solid rgba(15, 202, 231, 0.747);
    cursor: pointer;
  }

  .inputfield::placeholder {
    position: absolute;
    top: 10px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
  }

  .btn button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-size: 17px;
    gap: 12px;
    width: 159px;
    height: 48px;
  }

  .contact div button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 10px;
    width: 35%;
    margin-left: 100px;
    margin-top: 20px;
    background: #ff6b00;
    margin-bottom: 90px;
  }

  hr {
    height: 1px;
    background: #dfe1e6;
  }

  hr:hover {
    border-bottom: 2px solid rgba(15, 202, 231, 0.747);
    cursor: pointer;
  }

  .Socials {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    margin-top: 20px;
    width: 70%;
  }

  .blur {
    filter: blur(20px);
  }

  .Socials img:hover {
    color: rgba(15, 202, 231, 0.747);
  }

  .line {
    background-color: #0d151e;
    width: 36%;
    left: calc(50% - 134px / 2 - 0.5px);
    border-radius: 10px;
    margin-left: 100px;
    margin-top: 15px;
  }

  .icon {
    font-family: "Inter", sans-serif;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    width: 100%;
    display: flex;
    align-items: center;
    color: #fff5e1;
    border-bottom: 1px solid #6f6c6b;
  }

  .dropdown {
    display: flex;
    justify-content: space-between;
  }

  .menu {
    position: fixed;
    left: -100%;
    top: 74px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding: 0 20px;
    margin-top: 0;
    background-color: #3c3a39;
    z-index: 1;
  }

  .message {
    display: none;
  }

  .close {
    display: none;
  }

  .show {
    left: 0;
  }

  .pop-up {
    display: flex;
    flex-direction: column;
    left: 3%;
    padding: 20px;
    width: 92%;
    position: fixed;
    height: 718px;
    top: 0;
    margin-top: 20px;
    transform: scale(0.1);
    visibility: hidden;
    background-color: #fff;
    z-index: 3;
    font-size: 50%;
  }

  .to-do h2 {
    display: none;
  }

  .to-do div {
    width: 90%;
    position: absolute;
    top: 50px;
    display: flex;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: auto;
    margin-top: 10px;
    line-height: 16px;
    color: #3c3a39;
    margin-bottom: 30px;
  }

  .pop-up h2 {
    width: 80%;
    position: absolute;
    top: 0;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
    margin-bottom: 30px;
  }

  .pop {
    width: 90%;
    height: 220px;
    margin-bottom: 30px;
    position: absolute;
    top: 100px;
    margin-top: 20px;
  }

  .drop {
    width: 5%;
    position: absolute;
    top: 10px;
    right: 20px;
  }

  .ipsum p {
    width: 90%;
    position: absolute;
    top: 350px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
    color: #344563;
  }

  .ipsum {
    display: flex;
    flex-direction: column;
  }

  .btn {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 10px;
  }

  .star {
    top: 0;
    transform: scale(1);
    visibility: visible;
  }

  .function {
    display: flex;
    justify-content: flex-start;
  }

  .function p {
    color: red;
    margin-left: 20px;
  }
}
